.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  color: white;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
}

.footer__column-link:hover{
  opacity: 0.5;

}
